<head>

{% comment %} Functional Meta Tags {% endcomment %}

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<base href="{{ site.url }}{{ site.baseurl }}/">

	{% include google-tag-manager.html %}

{% comment %} Generic Meta Tags {% endcomment %}

	<title>
		{% if page.title %}
			{{page.title}}
			—
			{{site.title}}
		{% else %}
			{{site.title}}
		{% endif %}
	</title>

	<meta name="author" content="{{ site.author }}">
	<meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">

{% comment %} Open Graph (https://ogp.me/) {% endcomment %}

	<meta content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" property="og:title">
	<meta content="{% if page.layout == 'post' %}article{% else %}website{% endif %}" property="og:type">
	<meta content="{{ site.url }}{{ site.images }}/{% if page.img %}{{ page.img }}{% else %}{{ site.author-img }}{% endif %}" property="og:image">
	<meta content="{{ site.url }}{{ site.baseurl }}{% if page.url %}{{ page.url }}{% endif %}" property="og:url">
	<meta content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}" property="og:description">
	<meta content="{{ site.title }}" property="og:site_name">

{% comment %} Open Graph/Article (https://ogp.me/#type_article) {% endcomment %}

	{% if page.layout == 'post' %}

		<meta content="{{ page.date | date_to_xmlschema }}" property="article:published_time">
		<meta content="{{ site.author }}" property="article:author">

		{% for category in page.categories limit : 1 %}
			<meta content="{{ category }}" property="article:section">
		{% endfor %}

		{% for tag in page.tags %}
			<meta content="{{ tag }}" property="article:tag">
		{% endfor %}

	{% endif %}

{% comment %} Twitter Card (https://developer.twitter.com/en/docs/tweets/optimize-with-cards/overview/summary) {% endcomment %}

	<meta name="twitter:card" content="summary">
	<meta name="twitter:site" content="@{{ site.social-twitter }}">
	<meta name="twitter:creator" content="@{{ site.social-twitter }}">
	<meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
	<meta name="twitter:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
	<meta name="twitter:image" content="{{ site.url }}{{ site.images }}/{% if page.img %}{{ page.img }}{% else %}{{ site.author-img }}{% endif %}">
	<meta name="twitter:image:alt" content="{% if page.img %}{{ page.img-caption }}{% else %}{{ site.author }}{% endif %}">

{% comment %} Icons & colors {% endcomment %}

	<link rel="apple-touch-icon" sizes="180x180" href="{{ site.url }}{{ site.baseurl }}/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="{{ site.url }}{{ site.baseurl }}/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="{{ site.url }}{{ site.baseurl }}/favicon-16x16.png">
	<link rel="manifest" href="{{ site.url }}{{ site.baseurl }}/site.webmanifest">
	<link rel="mask-icon" href="{{ site.url }}{{ site.baseurl }}/safari-pinned-tab.svg" color="#058DC7">
	<meta name="msapplication-navbutton-color" content="#058DC7">
	<meta name="msapplication-TileColor" content="#058DC7">
	<meta name="theme-color" content="#058DC7">
	<meta name="apple-mobile-web-app-status-bar-style" content="#058DC7">t %}

{% comment %} Links {% endcomment %}

	<link href="https://fonts.googleapis.com/css?family=PT+Serif:400,700|Lato:300,400,700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="{{ site.fonts }}/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="{{ site.styles }}/style.css">
	<link rel="stylesheet" href="{{ site.fonts }}/fonts.css">

</head>
