// Colors
$body-color: #515151;
$white: #ffffff;
$lightgray: #fafafa;
$gray: #ecf0f1;
$dark-gray: #a0a0a0;
$dark-blue: #263959;
$dark: #333030;

// Fonts
$title-font: "Rubik", sans-serif;
$body-font: "Open Sans", sans-serif;
$code-font: "Roboto Mono", monospace;
