// Colors
$accent: #058DC7;

$white: #FFF;
$lightest: #FAFAFA;
$lighter: #ECF0F1;
$light: #D3D3D3;
$medium: #BDBDBD;
$dark: #3D4E5A;
$darker: #33383D;
$darkest: #323232;
$black: #000;

// Fonts
$title-font: "Rubik", sans-serif;
$body-font: "Open Sans", sans-serif;
$code-font: "Roboto Mono", monospace;
