---
layout: default
---

<aside class="sidebar">
  <header>
    <div class="about">
      <div class="cover-author-image">
        <a href="{{ site.url }}{{site.baseurl}}/"><img src="{{ site.images }}/{% if site.author-img %}{{site.author-img}}{% endif %}" alt="{{site.author}}"></a>
      </div>
      <div class="author-name">{{site.author}}</div>
      <p>{{site.author-about}}</p>
    </div>
  </header> {% comment %} End Header {% endcomment %}
  <footer>
    <section class="contact">
      <h3 class="contact-title">Contact me</h3>
      <ul>
        {% if site.social-github %}
          <li class="github">
            <a class="has-tooltip" href="https://github.com/{{site.social-github}}" target="_blank">
              <i class="fa fa-github"></i>
              <span class="tooltip">Find my repos on GitHub</span>
            </a>
          </li>
        {% endif %}
        {% if site.social-linkedin %}
          <li class="linkedin">
            <a class="has-tooltip" href="https://www.linkedin.com/in/{{site.social-linkedin}}/" target="_blank">
              <i class="fa fa-linkedin"></i>
              <span class="tooltip">Find my achievements on LinkedIn</span>
            </a>
          </li>
        {% endif %}
        {% if site.social-email %}
          <li class="email">
            <a class="has-tooltip" href="mailto:{{site.social-email}}">
              <i class="fa fa-envelope"></i>
              <span class="tooltip">Send me an email</span>
            </a>
          </li>
        {% endif %}
        {% if site.social-phone %}
          <li class="phone">
            <a class="has-tooltip" href="tel:{{ site.social-phone }}" target="_blank">
              <i class="fa fa-phone"></i>
              <span class="tooltip">Call me, the old-fashioned way</span>
            </a>
          </li>
        {% endif %}
        {% if site.social-signal %}
          <li class="signal">
            <a class="has-tooltip" href="tel:{{site.social-signal}}">
              <i class="fa fa-comments"></i>
              <span class="tooltip">Message me on Signal</span>
            </a>
          </li>
        {% endif %}
      </ul>
    </section>
    {% comment %} End Section Contact {% endcomment %}
    <div class="copyright">
      <p>{{site.time | date: '%Y'}}
        &copy;
        {{site.author}}</p>
    </div>
  </footer> {% comment %} End Footer {% endcomment %}
</aside> {% comment %} End Sidebar {% endcomment %}
<div class="content-box clearfix">

  {{ content }}

</div>
