---
layout: main
---
<article class="article-page">
  <div class="page-content">
    {% if page.img %}
      <div class="page-cover-image">
        <figure>
          <img class="page-image" src="{{ site.images }}/{{ page.img }}" alt="{{page.title}}">
          {% if page.img-caption %}
            <figcaption>{{page.img-caption}}</figcaption>
          {% endif %}
        </figure>
      </div>{% comment %} End Page Cover Image {% endcomment %}
    {% endif %}
    <div class="wrap-content">
      <header class="header-page">
        <h1 class="page-title">{{page.title}}</h1>
        <div class="page-date">
          <span>{{page.date | date: '%Y-%m-%d'}}</span></div>
      </header>
      {{content | markdownify}}
      <div class="page-footer">
        <div class="page-tag">
          {% for tag in page.tags %}
            <a href="{{ site.url }}{{site.baseurl}}/tags#{{tag}}" class="tag">&#35;
              {{ tag }}</a>
          {% endfor %}
        </div>
      </div>
    </div>{% comment %} End Page Cover Image {% endcomment %}
  </div>{% comment %} End Page Cover Image {% endcomment %}
</article>{% comment %} End Page Cover Image {% endcomment %}
