.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  bottom: 0;
  width: 240px;
  height: 100%;
  padding: 20px 10px;
  background-color: $white;

  .about {
    margin: 0 0 40px;
    text-align: center;

    .cover-author-image {
      width: 100px;
      height: 100px;
      margin: 0 auto 10px;
      border: 2px solid $black;
      border-radius: 100%;
      overflow: hidden;

      img {
        -webkit-filter: grayscale(100%);
        /* Safari 6.0 - 9.0 */
        filter: grayscale(100%);

        &:hover {
          -webkit-filter: grayscale(0%);
          /* Safari 6.0 - 9.0 */
          filter: grayscale(0%);
        }
      }
    }

    .author-name {
      font-family: $title-font;
      position: relative;
      font-size: 16px;
      text-transform: uppercase;
      color: $darker;
      font-weight: 700;
    }

    p {
      font-size: 16px;
      text-align: left;
      margin: 10px;
      hyphens: auto;
    }
  }

  footer {

    .contact {
      .contact-title {
        font-size: 12px;
        font-weight: 400;
        position: relative;
        color: $darker;
        margin: 0 0 5px;
        text-transform: uppercase;
        text-align: center;

        &::before {
          content: "";
          display: block;
          height: 2px;
          width: calc(50% - 48px);
          transform: translateY(-50%);
          position: absolute;
          top: 50%;
          left: 0;
          background-color: $darker;
        }

        &::after {
          content: "";
          display: block;
          height: 2px;
          width: calc(50% - 48px);
          transform: translateY(-50%);
          position: absolute;
          top: 50%;
          right: 0;
          background-color: $darker;
        }
      }

      ul {
        margin: 0;
        padding: 0;
        list-style: none;
        text-align: center;

        li {
          display: inline-block;
          margin-left: 10px;

          &:first-child {
            margin-left: 0;
          }

          a {
            color: $darker;
            display: block;
            padding: 5px;
            font-size: 18px;
            transition: all 0.3s cubic-bezier(0.13, 0.43, 0.54, 1.82);

            &:hover {
              color: $accent;
              transform: scale(1.2);
            }
          }
        }

        .tooltip {
          font-size: 12px;
          font-weight: bold;
          white-space: nowrap;
          background-color: $accent;
          color: $lightest;
          /* Shape the tooltip */
          height: 26px;
          padding: 4px 8px;
          border-radius: 13px 13px 13px 0;
          /* Position the tooltip */
          position: absolute;
          z-index: 2;
          top: -15px;
          /* Fade in tooltip */
          visibility: hidden;
          opacity: 0;
          transition: opacity 0.3s;
        }

        /* Show the tooltip text when you mouse over the tooltip container */
        .has-tooltip:hover .tooltip {
          visibility: visible;
          opacity: 1;
        }
      }
    }

    .copyright {
      font-size: 14px;
      text-align: center;
      margin: 0;
    }
  }
}

.content-box {
  padding: 20px 20px 20px 260px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;

  .post {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    min-height: 11rem;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
    box-shadow: 0 1px 1px 0 rgba(31, 35, 46, .15);
    -webkit-filter: grayscale(100%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);

    &:hover {
      transform: translate(0px, -2px);
      box-shadow: 0 15px 45px -10px rgba(10, 16, 34, .2);
      -webkit-filter: grayscale(0%);
      /* Safari 6.0 - 9.0 */
      filter: grayscale(0%);
    }

    .post-thumbnail {
      width: 30%;
      max-width: 100%;
      min-height: 11rem;
      background-size: cover;
      background-position: center center;
    }

    .post-content {
      padding: 1rem;
      width: 70%;

      .post-date,
      .post-words {
        font-size: 12px;
      }

      .post-title {
        margin: 0 0 10px;
        font-size: 30px;
        font-weight: 400;

        a {
          font-family: $title-font;
          text-decoration: none;
          color: $darkest;
        }
      }

      p {
        margin-top: 0;
      }
    }
  }

  a.newer-posts,
  a.older-posts {
    font-size: 18px;
    display: inline-block;
    color: $darker;
    transition: transform 0.3s;
  }

  a.older-posts:hover {
    transform: translateX(5px);
  }

  a.newer-posts:hover {
    transform: translateX(-5px);
  }
}
